

<div class="container-fluid">
  <div class="row" id="home-title">
    <div class="col-md-12">
      <div class="develdev-home-title">
        <h1>DevelDev</h1>
        <p>The DEVELoper's project planner</p>
        <p>...from conception to launch!</p>
        <hr>
      </div>
      <div class="col-md-6">

      <img src="https://s29.postimg.org/auqmhvs47/develdev_flow_color.png" alt="" id="develdev_flowchart">
    </div>
    </div>

  </div>
</div>


      <!-- <img src="https://s29.postimg.org/auqmhvs47/develdev_flow_color.png" alt=""> -->

<!-- DEVELDEV FEATURES  ------------------------------>
<div class="container-fluid">
  <div class="row" id="develdev_feature_height">
    <div class="col-md-4" id="develdev_feature_list">
      <i class="fa fa-users" aria-hidden="true" id="develdev_features"></i>
      <p class="feature-desc">Collaborate</p>
      <p class="feature-bio">Work together in a fully immersive environment.
        <ul id="feature-desc">
          <li>Team up with other developers on personal projects.</li>
          <li>Stay current and organized with work projects.</li>
          <li>Manage and collect payments for client projects.</li>
        </ul>
    </div>

    <div class="col-md-4" id="develdev_feature_list">
      <i class="fa fa-refresh" aria-hidden="true" id="develdev_features"></i>
      <p class="feature-desc">Sync</p>
      <p class="feature-bio">Full integration of Google Drive and Github.</p>
        <ul id="feature-desc">
          <li>Sign up through Google and have access to your Drive.</li>
          <li>Sign up through Github and have access to your repos.</li>
          <li class="feat-icon"><i class="devicon-github-plain"></i><img src="https://s29.postimg.org/vfzbz1quv/google_drive_logo.png" alt="" id="google-drive-icon"></li>
          <!-- <li><img src="https://s29.postimg.org/vfzbz1quv/google_drive_logo.png" alt="" id="google-drive-icon"></li> -->
        </ul>
    </div>

    <div class="col-md-4" id="develdev_feature_list">
      <i class="fa fa-clock-o" aria-hidden="true" id="develdev_features"></i>
      <p class="feature-desc">Save</p>
      <p class="feature-bio">Manage time with a streamlined workflow.</p>
      <ul id="feature-desc">
        <li>Organize your data from conception to launch.</li>
        <li>Make major global project changes in minutes.</li>
        <li id="save-green">Complete projects on time and under budget!</li>

        </ul>
      <p></p>
    </div>
  </div>
</div>

<!-- DEVELDEV DESCRIPTION  ------------------------------>
<div class="container-fluid">
  <div class="row" id="develdev_org">
    <div class="col-md-6">
      <p id="organization">Organize all of your project data.</p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row" id="develdev_search">
    <div class="col-md-8 col-md-offset-2">
      <p id="search-desc">Integration of Google Search bar for quick lookup!</p>
      <img src="https://s28.postimg.org/5246pcdzx/google_searchbar.png" alt="" id="google-bar">
    </div>

  </div>
</div>

<!-- DEVELDEV FOOTER  --------------------------------------->
<footer class="develdev_footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <ul class="footer-block">
          <li id="footer-list-item"><a href="#">Tour</a></li>
          <li id="footer-list-item"><a href="#">Pricing</a></li>
          <li id="footer-list-item"><a href="#">Apps</a></li>
          <li id="footer-list-item"><a href="#">Jobs</a></li>
          <li id="footer-list-item"><a href="#">Blog</a></li>
          <li id="footer-list-item"><a href="#">Developers</a></li>
          <li id="footer-list-item"><a href="#">About</a></li>
          <li id="footer-list-item"><a href="#">Help</a></li>
          <li id="footer-list-item"><a href="#">Legal</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="develdev-copyright">
    <p>&copy; 2017 DevelDev, LLC All Rights Reserved</p>
  </div>
</footer>
