@import "bootstrap-sprockets";
@import "bootstrap";


.login-reg {
  float: right;
  padding: 1em;
}

.nav-pills {
  float: right;
  padding-top: 1em;
}


#develdev_sm {
  height: 40px;
  width: auto;
  padding-left: 1em;
  
}
