@import "bootstrap-sprockets";
@import "bootstrap";


//////////////////////// NAVBARS //////////////////////////////////////////
.login-reg {
  float: right;
  padding: 1em;
  font-family: 'Raleway', sans-serif;

}


.nav-pills {
  float: right;
  padding-top: 1em;
}

.pill-format {
  color: black;
  font-family: 'Raleway', sans-serif;

}

#develdev_sm {
  height: 40px;
  width: auto;
  padding-left: 1em;
  padding-bottom: 0.5em;

}

#navbar-home {
  width: 100%;
  // position: fixed;
}

//////////////////////////// LOGIN FORM /////////////////////////////////
.login-form {
  // background-color: #dbdcdd;
  text-align: left;
  border-radius: 7px;
  height: 250px;
  padding-top: 1.5em;
}

// #login-form {
//   text-align: center;
// }

.input-format {
  border-radius: 5px;
}

#login-new {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

input#email {
  width: 350px;
  padding: 0.5em;
  height: 3em;
}

input#password {
  width: 350px;
  padding: 0.5em;
  height: 3em;
}

.actions {
  padding-top: 2em;
}

#login-buttons {
  display: inline-flex;

}

.login-submit {
  padding-left: 10em;
}
////////////////////////// REGISTRATION FORM //////////////////////////////////
.reg-form {
  // background-color: #dbdcdd;
  text-align: center;
  // border-radius: 7px;
  height: 250px;
}

#register-new {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#register-label {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#register-already {
  height: 300px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 5em;
}

input#user_email {
  // border-radius: 1px;
  // border: none;
  // border-bottom: 1px solid black;
  width: 350px;
  padding: 0.5em;
  height: 3em;
}

input#user_password {
  // border-radius: 5px;
  // border: none;
  // border-bottom: 1px solid black;
  width: 350px;
  padding: 0.5em;
  height: 3em;

}

input#user_password_confirmation {
  // border: none;
  // border-bottom: 1px solid black;

  width: 350px;
  padding: 0.5em;
  height: 3em;

}
////////////////////// DEVELDEV HOME PAGE (FEATURES) /////////////////////////
.develdev-home-title {
  // background-color: #dbdcdd;
  height: 500px;
  width: auto;
  text-align: center;
  // background: linear-gradient(white, #6fcaf7);
  font-family: 'Raleway', sans-serif;

}

#home-title {
  padding-top: 4em;
  padding-bottom: 4em;
}

#develdev_flowchart {
  width: 600px
}

#develdev_feature_list {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  // border-right: 1px solid black;


}

#develdev_feature_height {
  // height: 500px;
  // border-top: 1px solid black;
  padding-top: 2em;
  padding-bottom: 5em;
  // background: linear-gradient(white, #48eae2);
}

.feature-desc {
  font-weight: bold;
  padding-top: 0.5em;
  font-size: 20px;
}

.feature-bio {
  font-size: 16px;
  font-weight: bold;
}

#feature-desc {
  list-style: none;
}

#feature-desc li {
  // padding: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#develdev_features {
  font-size: 7em;
}

.fa-users {
  color: #0584c4;
}

.fa-clock-o {
  color: #03b512;
}

#save-green {
  color: #03b512;
}

.fa-refresh {
  color: #7c09c4;
}

.devicon-github-plain {
  font-size: 4em;
}

#google-drive-icon {
  height: 4em;
  padding-left: 5em;
  margin-top: -35px;
}

.feat-icon {
  text-align: center;
}
////////////////////////////// DEVELDEV DESCRIPTION (ORGANIZE) /////////////////////////////
#develdev_org {
  height: 500px;
  // width: 100%;
  // background: linear-gradient(white, #c184ed);
  background-color: #48a5db;
  color: white;
  font-family: 'Raleway', sans-serif;

}

#organization {
  font-size: 30px;
  font-weight: bold;
  padding-top: 3em;
  padding-left: 1em;
}

//////////////////////////////// DEVELDEV DESCRIPTION (SEARCH) ////////////////////////////

#develdev_search {
  height: 500px;
  background-color: #28477a;
  color: white;
  font-family: 'Raleway', sans-serif;

}

#search-desc {
  font-size: 30px;
  font-weight: bold;
  padding-top: 3em;
}

#google-bar {
  padding-left: 7em;
}
//////////////////////// DEVELDEV FOOTER /////////////////////////////

.develdev_footer {
  background-color: black;
  height: 10em;
  // position: fixed;
  width: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.develdev-copyright {
  text-align: center;
  padding-top: 2em;
}

.footer-block {
  display: inline-flex;
  list-style: none;
  padding-top: 2em;
  margin-left: -60px;

}

#footer-list-item {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

///////////////////////////// DASHBOARD /////////////////////////////

#main-dashboard {
  height: 450px;
  // background-color: #96beff;
}

#status-bar {
  background-color: #96beff;
}
